#drag{
    width: 600px;
    height: 250px;
    margin-top: 30px;
    margin-left: 90px;
    padding: 10px;
    background-color: aqua;
    border: 3px solid black;
}
#dragdrop{
    margin-left: 100px;
}
#rectangle{
    margin-left: 200px;
}