*body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a:link{
    color: purple;
}
a:visited{
    color: saddlebrown;
}
a:hover{
    text-decoration-color:blueviolet;
}
p#Teddy{
    border-radius: 10px;
    border: 2px solid black;
    padding-left: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
address{
    border: 4px solid blueviolet;
    background-color: rgb(216, 122, 200);
    padding-left: 20px;
    width: 10%;
}