*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Josefin Sans', sans-serif;
}
.container{
    position: absolute;
    background: #fff;
    top: 15%;
    left: 35%;
    width: 100%;
    max-width: 400px;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 4px 4px 4px 4px rgba(254,236,164,1); 

}
.header h2{
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #332902;
}
.container .form-control{
    margin-bottom: 10px;
}

.container .form-control input[type ="text"],
.container .form-control input[type ="password"]
{
    border: 1px solid #e0e0e0;
    width: 100%;
    padding: 8px;
}
.container .btn input[type="submit"]{
    border: 0px;
    margin-top: 15px;
    padding: 10px;
    text-align: center;
    width: 100%;
    background: #fece0c;
    color: #332902;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
}
.field {
    border-collapse:separate;
    border-spacing:0 15px;
}
.container td{
    padding-right: 20px;
} 
span{
    color: red;
    display: inline;
}